#mainNav {
    margin-bottom: 0;
    padding: 10px 0;
    background-color: #232021 !important;
}

.top-header .container{
    padding-top: 35px;
    padding-bottom: 20px;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    margin-right: 20px;
}

.fixed-top {
    position: relative !important;
}

.nav-link {
    text-align: center;
}

.fab {
    font-size: 25px;
}

.top-header .contact-number {
    padding-top: 20px !important;
    color: #c9982c;
    margin-right: 4px;
    font-size: 18px;
    vertical-align: middle;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

.top-phonenumber {
    padding-top: 10px;
}

.navbar-nav {
    margin: 0 auto;
}

header.masthead {
    background-image: url(./images/header.png);
    background-position: center center;
    background-size: cover;
}

b, strong {
    font-size: 68px;
}

@media (min-width: 992px){
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.text-faded {
    font-size: 25px;
    padding-top: 20px;
}

.section-about h2{
    padding-top: 50px;
    font-weight: 600;
    color: #c9982c;
    font-size: 48px;
    margin: 0;
}

.line-shape {
    width: 80px;
    height: 5px;
    background-color: #c9982c;
    margin: 30px auto;
}

.btn-primary {
    margin: 0 auto;
    color: #fff;
    background-color: #c9982c !important;
    border-color: #c9982c !important;
    padding: 0.7rem 3rem !important;
    margin-top: 30px;
    margin-bottom: 20px;
}

.img-fluid {
    margin-left: auto!important;
    width: 45px !important;
    height: 45px !important;
}

.icon-title h5{
    padding-top: 25px !important;
    color: #c9982c;
}

#qbootstrap-register {
    background-image: url(./images/contact.png);
    background-position: 50% -49.6953px;
    /* background: rgba(0, 0, 0, 0.7); */
    background-position: center center;
    background-size: cover;
}

.section-contact h2 {
    padding-top: 50px;
    font-weight: 600;
    color: #c9982c;
    font-size: 48px;
    margin: 0;
}

.section-contact h3 {
    font-weight: 600;
    color: #eeeeee;
    font-size: 40px;
    margin: 0;
}

.contact-title {
    padding-top: 30px;
}

.contact-title h5{
    color: #eeeeee;
}

.contact-text{
    margin: 0 auto;
    color: #eeeeee;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
}

.footer-menu {
    background-color: #232021;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    float: left;
}

.nav-item a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #eeeeee !important;
}

.section-Proud h2{
    padding-top: 50px;
    font-weight: 600;
    color: #c9982c;
    font-size: 48px;
    margin: 0;
}

.footer-menu {
    text-align: center;
}

.footer-text p {
    color: #eeeeee;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}